.city-ui {
    display: none;
    margin: 0 auto;
    width: 400px;
    border: 1px solid #bbbbbb;
    z-index: 1000;
    position: absolute;
    background: #FFF;
    overflow: hidden;

    -moz-box-shadow: 3px 3px 4px #999;
    -webkit-box-shadow: 3px 3px 4px #999;
    box-shadow: 3px 3px 4px #999;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 4, Direction = 135, Color = '#999999');
}

.city-ui div {
    margin: 0;
    padding: 0;
    width: 400px;
    display: none;
}

.city-ui .tab {
    margin: 5px;
    padding: 0;
    list-style: none;
    width: 400px;
    height: 32px;
    border-bottom: 1px solid #ddd;
    zoom: 1;
}

.city-ui li {
    float: left;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}
.city-ui .tab li {
    float: left;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: #555;
    position: relative;
    bottom:-1px;
}

.city-ui div.on {
    display: block;
}

.city-ui .tab li.cur {
    border:1px solid #ddd;
    border-bottom: 1px solid #fff;
}

.city-ui .grey{
    background-color: grey;
}